<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <h1>Properties</h1>
    <div class="ml-auto mt-2">
      <%= link_to 'New Property', new_property_path, class: 'btn btn-success' %>
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Description</th>
          <th>Active</th>
        </tr>
      </thead>
      <tbody>
        <% @properties.each do |property| %>
          <tr>
            <td><%= link_to property.description, property %></td>
            <td><%= property.active %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
