<div class="container">
  <h1><%= t('actions.new') %> <%= @good.model_name.human %></h1>
  <%= render 'form', good: @good, good_categories: @good_categories, departments: @departments, situations: @situations %>
</div>
