// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #menu ul {
//   margin: 0;
//   padding: 0;
//   list-style: none;
//   width: 150px;
// }

// ul li {
//   position: relative;
// }

// li ul {
// position: absolute;
// left: 149px;
// top: 0;
// display: none;
// }

// ul li a {
//    display: block;
//    text-decoration: none;
//    color: #ffffff;
//    background: #2f6cce;
//    padding: 5px;
//    border: 1px solid #ccc;
// }

// li:hover ul { display: block; }



#menu {
  border-right: 1px solid rgb(206, 212, 218);
  border-top: 1px solid rgb(206, 212, 218);
  width: 150px;
  height: 100%;
  background-color: rgb(248, 249, 250);
  // background-color: #c6e9ff;
}

#menu li {
  border-bottom: 1px solid  rgb(206, 212, 218);
}

#menu li a {
  color: rgba(0, 0, 0, 0.9);
}

#menu li a:hover { background-color: #99c0ff}
